* {
    margin: 0 !important;
    padding: 0 !important;
}

html,
body {
    height: 96% !important;
}

.con {
    min-height: 100% !important;
}

.main {
    overflow: auto !important;
    padding-bottom: 100px !important;
}

body {
    /* background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027); */
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D2228, #9fa8a3, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1D2228;
    margin: 0;
}

h4 {
    font-weight: bold;
}

.logout:hover {
    -webkit-transform: scale(1.1);
}

.body-size {
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.footer-style  {
    background-color: #1D2228;
    color: white;
    position: relative;
    height: 504px;
    margin-top: -50px;
    clear: both;
}
